* {
  border: 0;
  margin: 0;
  padding: 0;
}
body {
  background: #eee;
  font: 13px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
code,
pre {
  background: rgba(255,255,255,0.8) !important;
  font: 12px Menlo, Monaco, Consolas, "Courier New" !important;
  padding: 2px 4px;
}
h1,
h2 {
  padding: 0 0 0 20px;
}
h1 {
  font-size: 72px;
}
h2 {
  font-size: 16px;
  font-weight: normal;
}
pre code {
  background: 0;
  padding: 0;
}
.github-banner img {
  position: absolute;
  right: 0;
  top: 0;
  height: 149px;
  width: 149px;
}
.gist .gist-file {
  border: 0 !important;
}
.gist .gist-file .gist-data {
  background: rgba(255,255,255,0.8) !important;
  font: 12px Menlo, Monaco, Consolas, "Courier New" !important;
}
.gist .gist-file .line-numbers {
  display: none;
}
#description,
#samples {
  box-sizing: border-box;
  float: left;
  padding-right: 20px;
  width: 50%;
}
#description {
  color: #666;
}
#spec {
  border-left: 1px solid #ddd;
  box-sizing: border-box;
  float: right;
  padding-left: 20px;
  width: 50%;
}
#spec h3 {
  font-size: 24px;
}
#spec h3,
#spec h4,
#spec th {
  color: #666;
}
#spec h4 {
  font-style: italic;
}
#spec h4,
#spec pre {
  margin: 1em 0;
}
#spec table {
  border-collapse: collapse;
  text-align: left;
}
#spec table pre {
  margin: 0;
}
#spec td,
#spec th {
  border-bottom: 1px solid #ddd;
  padding: 5px 10px 5px 0;
}
#samples {
  border-top: 1px solid #ddd;
  margin-top: 20px;
  padding: 10px 20px;
}
#samples h3,
#samples h4,
#samples pre,
#samples .gist-file {
  margin: 10px 0 0 0;
}
