* {
  border: 0;
  margin: 0;
  padding: 0;
}
body {
  background: #eee;
  font: 13px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
h1,
h2 {
  padding: 10px 10px 0;
}
h1 {
  color: #000;
  font-size: 72px;
}
h2 {
  font-weight: normal;
}
.github-banner img {
  position: absolute;
  right: 0;
  top: 0;
  height: 149px;
  width: 149px;
}
