

// reset


*
	border 0
	margin 0
	padding 0


// general


body
	background #eee
	font 13px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif

code
	font 12px Menlo, Monaco, "Courier New"

h1
h2
	padding 10px 10px 0

h1
	color black
	font-size 72px

h2
	font-weight normal


// classes


.github-banner

	img
		position absolute
		right 0
		top 0
		height 149px
		width 149px


// elements


#sample-rest
	float right