<!doctype html>
<html>
<head>

	<meta charset="utf-8" />

	<title><%= name %> | <%= description %></title>

	<link rel="stylesheet" href="../css/main.css" />

</head>
<body>

	<h1><%= name %></h1>
	<h2><%= description %></h2>

	<a class="github-banner" href="https://github.com/eighttrackmind/contributor.io">
		<img src="http://aral.github.com/fork-me-on-github-retina-ribbons/right-graphite@2x.png" alt="Fork me on GitHub" />
	</a>

</body>
</html>